
  
<table>
    <thead>
      <tr>
        <th>ID Azienda</th>
        <th>Nome Azienda</th>
        <th>Località Azienda</th>
        <th>Titolare Azienda Nome</th>
        <th>Titolare Azienda Cognome</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aziendaSingola of aziende">
        <td>{{ aziendaSingola.id }}</td>
        <td>{{ aziendaSingola.nomeAzienda }}</td>
        <td>{{ aziendaSingola.localitaAzienda }}</td>
        <td>{{ aziendaSingola?.titolareAzienda?.nome }}</td>
        <td>{{ aziendaSingola?.titolareAzienda?.cognome }}</td>
      </tr>
    </tbody>
  </table>
  
